<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>영화 검색 결과</title>
    <style>
        body {
            background-color: pink;
            color: white;
        }

        h2 {
            color: pink;
        }

        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid white;
        }

        button {
            background-color: white;
            color: pink;
            border: 1px solid pink;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
        }

        input[type="text"], textarea {
            width: 100%;
            padding: 8px;
            border: 1px solid pink;
            border-radius: 5px;
        }

        select {
            padding: 8px;
            border: 1px solid pink;
            border-radius: 5px;
        }

        .search-button {
            background-color: white;
            color: pink;
            border: 1px solid pink;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
        }

        .favorite-button {
            background-color: white;
            color: pink;
            border: 1px solid pink;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
        }

        .submit-button {
            background-color: white;
            color: pink;
            border: 1px solid pink;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <h2>영화 정보</h2>
    <form action="#search" method="get">
        <input type="text" name="search_query" placeholder="검색어를 입력하세요">
        <select name="search_category">
            <option value="title">제목</option>
            <option value="actor">배우</option>
            <option value="director">감독</option>
        </select>
        <button type="submit" class="search-button">검색</button>
    </form>
    <table>
        <tr>
            <th>영화 ID</th>
            <th>제목</th>
            <th>장르</th>
            <th>배우</th>
            <th>감독</th>
            <th>개봉 연도</th>
            <th>개봉 월</th>
            <th>개봉 일</th>
            <th>리뷰 작성</th>
            <th>즐겨찾기</th>
        </tr>
        {% for movie in movies %}
        <tr data-search-title="{{ movie.title }}" data-search-actor="{{ movie.actor }}" data-search-director="{{ movie.director }}">
            <td>{{ movie.movie_id }}</td>
            <td>{{ movie.title }}</td>
            <td>{{ movie.genre }}</td>
            <td>{{ movie.actor }}</td>
            <td>{{ movie.director }}</td>
            <td>{{ movie.release_year }}</td>
            <td>{{ movie.release_month }}</td>
            <td>{{ movie.release_day }}</td>
            <td>
                <form action="/submit_review" method="post">
                    <input type="hidden" name="user_id" value="{{ user_id }}">
                    <input type="hidden" name="movie_id" value="{{ movie.movie_id }}">
                    <textarea name="review_content" placeholder="리뷰를 작성하세요" style="width: 200px; height: 100px; border: 1px solid pink; border-radius: 5px; padding: 5px;"></textarea>
                    <button type="submit" class="submit-button">작성</button>
                </form>
            </td>
            <td>
                <form action="/add_favorite" method="post">
                    <input type="hidden" name="user_id" value="{{ user_id }}">
                    <input type="hidden" name="movie_id" value="{{ movie.movie_id }}">
                    <button type="submit" class="favorite-button">즐겨찾기</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
    <script>
        window.onload = function() {
            var urlParams = new URLSearchParams(window.location.search);
            var searchQuery = urlParams.get('search_query');
            var searchCategory = urlParams.get('search_category');
            if (searchQuery) {
                var searchElement = document.querySelector(`tr[data-search-${searchCategory}*="${searchQuery}"]`);
                if (searchElement) {
                    searchElement.scrollIntoView({ behavior: 'smooth' });
                }
            }
        }
    </script>
</body>
</html>